In [201]:
import pandas as pd
import json

In [202]:
FOLDER_PATH = "../data/metadata/"
val_json = FOLDER_PATH + "meta.json"

In [203]:
def get_image(data, img_id):
    select_img = [img for img in data["images"] if img["id"] == img_id][0]
    return select_img

def get_annotations(data, img_id):
    select_anno = [anno for anno in data["annotations"] if anno["image_id"] == img_id]
    return select_anno
# get the "correct" boundaries of the object in the image

def get_coordinates(select_anno, category_id):
    select_coordinates = [
        anno["segmentation"]
        for anno in select_anno
        if anno["category_id"] == category_id
    ]
    return select_coordinates

def get_bbox (select_anno, category_id):
    bounding_box = [
        anno["bbox"]   
        for anno in select_anno
        if anno["category_id"] == category_id        
    ]
    return bounding_box

In [204]:
with open(val_json) as f:
    data = json.load(f)

In [205]:
img_id = 22892
# 'cat' has a category id of 17

category_id = 17

In [206]:
select_img = get_image(data, 22892)

In [207]:
select_img

{'coco_url': 'http://images.cocodataset.org/val2017/000000022892.jpg',
 'date_captured': '2013-11-18 15:11:22',
 'file_name': '000000022892.jpg',
 'flickr_url': 'http://farm1.staticflickr.com/243/521936273_d0817d38a4_z.jpg',
 'height': 334,
 'id': 22892,
 'license': 1,
 'width': 500}

In [208]:
select_anno = [anno for anno in data["annotations"] if anno["image_id"] == 22892]

In [209]:
coordinates = get_coordinates(select_anno, category_id)
bbox = get_bbox(select_anno, category_id)

In [210]:
print(coordinates)

[[[402.24, 221.73, 381.41, 205.93, 367.76, 173.6, 362.73, 141.28, 353.39, 138.41, 341.9, 125.48, 338.31, 119.01, 328.97, 130.51, 320.35, 142.72, 307.42, 135.54, 303.83, 128.35, 295.21, 127.63, 285.16, 125.48, 277.97, 116.86, 263.61, 103.93, 246.37, 105.37, 237.75, 104.65, 241.34, 91.72, 249.96, 86.69, 260.02, 76.64, 264.33, 65.14, 275.82, 45.75, 295.21, 33.54, 324.66, 29.23, 342.62, 26.36, 350.52, 25.64, 369.2, 23.48, 385.72, 23.48, 403.67, 27.79, 436.0, 34.26, 471.91, 60.12, 484.12, 74.48, 499.2, 86.69, 499.2, 232.5, 457.54, 254.05, 434.56, 237.53, 400.08, 221.01]]]

In [211]:
t1_path = "../data/t1_annotate/output/sample_output_t1.csv"
# raw sample for task 1
# rows 1-3 contain correct annotations
# row 4 is incorrect (dog)
# row 5 is incorrect (random)

t1_df = pd.read_csv(t1_path)

In [212]:
t1_df

  duration HITId AssignmentId WorkerId  ...  point_7  point_8  point_9  point_10
0  0:03:30  test  assignment1  worker1  ...      NaN      NaN      NaN       NaN
1  0:04:54  test  assignment2  worker2  ...  397,213  472,102  367,170   445,150
2  0:05:13  test  assignment3  worker3  ...  456,258      NaN      NaN       NaN
3  0:03:32  test  assignment4  worker4  ...  238,158   206,90      NaN       NaN
4  0:06:34  test  assignment5  worker5  ...  409,123    32,15      NaN       NaN

[5 rows x 20 columns]

In [213]:
t2_path = "../data/t2_guess/output/sample_output_t2.csv"

In [214]:
t2_df = pd.read_csv(t2_path)

In [215]:
t2_df

  duration HITId  AssignmentId  ... Unnamed: 18 Unnamed: 19 Unnamed: 20
0  0:03:30  test  assignment21  ...         NaN         NaN         NaN
1  0:04:54  test  assignment22  ...         NaN         NaN         NaN
2  0:05:13  test  assignment23  ...         NaN         NaN         NaN
3  0:03:32  test  assignment24  ...         NaN         NaN         NaN
4  0:06:34  test  assignment25  ...         NaN         NaN         NaN
5  0:05:13  test  assignment26  ...         NaN         NaN         NaN
6  0:06:34  test  assignment27  ...         NaN         NaN         NaN

[7 rows x 21 columns]

In [216]:
# Task 1 Quality Control and Aggregation
from numpy import mean
from numpy import percentile

average_coordinate = [0]*len(t1_df)
for i in range(len(t1_df)):
  average_coordinate[i] = mean([int(str(t1_df[f"point_{j}"][i]).replace(',','')) for j in range(1,11) if str(t1_df[f"point_{j}"][i]) != "nan"])

lower_cutoff = percentile(average_coordinate, 25)
upper_cutoff = percentile(average_coordinate, 75)

good_worker_indexes = []
for i in range(len(average_coordinate)):
  if (average_coordinate[i] <= upper_cutoff and average_coordinate[i] >= lower_cutoff):
    good_worker_indexes.append(i)

average_coordinate_good_workers = []
for i in range(len(t1_df)):
  if i not in good_worker_indexes:
     t1_df = t1_df.drop(index = i)
  else:
    average_coordinate_good_workers.append(average_coordinate[i])
 
t1_df["avg_point"] = average_coordinate_good_workers
best_coordinate = mean(average_coordinate_good_workers)    

t1_df.to_csv('sample_output_t1_filtered.csv',index=False)

In [217]:
# Task 2 Quality Control and Aggregation (Majority Vote)

from statistics import mode

final_guess = [""]*len(t2_df)
for i in range(len(t2_df)):
  final_guess[i] = [str(t2_df[f"guess_{j}"][i]) for j in range(1,6) if str(t2_df[f"guess_{j}"][i]) != "nan"][-1]

t2_df["final_guess"] = final_guess
label = mode(final_guess)

for i in range(len(final_guess)):
  if (final_guess[i] != label):
      t2_df = t2_df.drop(index = i)

t2_df.to_csv("sample_output_t2_filtered.csv",index=False)